


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-right: 40px;
}

td, th {
  
  text-align: left;
  padding: 10px;
  margin: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
